body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.grid {
  display: flex;
  flex: 1;
  width: 100vw;
  min-height: 500px;
}

#container {
  flex: 1;
  margin: 1em;
}

#canvas {
  width: 500px;
  height: 500px;
  border: 1px solid #ddd;
  margin: 1em;
}

#terminal {
  padding: 2em;
  background: #000;
}

.layout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}

header {
  padding: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
  background-color: #333;
}

footer {
  padding: 1em;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
}
